body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    overflow-x: hidden;
 

}
.navbar{
    padding: 15px 15px !important;
}
.nav-item{
    margin: 0px 10px;}

.nav-item:hover .nav-link ::after{
        width: 100%;
    }
    .btn-navbar{
        display: inline-block;
        padding: 10px 43px;
        border: 1px solid rgba(36 139 255);
        color: white;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        background-color:  orangered;
        transition: 0.2s ease;
        
    
    }

    

    .navbar-brand{
        color: orangered;
        font-weight: bolder;
        letter-spacing: 5px;
        font-size: 25px;
     

    }
    .btn-navbar:hover{
        background-color: transparent;
        color: rgba(255 129 57);
        border: 1px solid rgba(255 129 57);
    }
    
    .nav-link:hover{
        color: rgba(255 129 57);
    }

    .fa-solid{
        color: rgba(255 129 57);
      
        font-size: 25px;
        padding: 20px;
    }

    i{
        text-decoration: none;
    }
span{
    color: orange
}

.stand{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  
    background-color: #ff6347;
  
  
}

.icons{
    padding: 15px;
    font-size: 25px;
    color: white;
    font-weight: bold;

}

.icon{
    padding: 15px;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.ico{
    padding: 15px;
    font-size: 25px;
    color: white;
    font-weight: bold;
}


.card-footer{
    display: flex;
    justify-content: space-between;
    flex: wrap;

}

.text-body-secondary{
    flex: 1;
}

.btn-nav{
    flex: 1;
    text-align: right;
}

.orange{
    padding: 10px;
    height: 250px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    font-weight: bolder;
}


@media screen and (max-width: 600px) {
    .orange {
        font-size: 30px; /* Adjust the font size as needed */
    }
}


form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

form div {
    margin: 10px;
    flex: 1; /* Add flex: 1 to make each div grow to fill the available space */
}

label {
    padding: 10px;
    display: block; /* Ensure label and input are stacked */
}

.dropdown {
    position: relative;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
}

.dropdown-content p {
    margin: 5px 0;
    cursor: pointer;
}

.dropdown-content p:hover {
    background-color: #ddd;

}

.explore{
    background-color:  orange; ;
    border-radius: 5px;
    border: none;
}

.hey{
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange; ; 
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    form {
        flex-direction: column;
        align-items: stretch; /* Ensure form items take full width */
    }

    form div {
        width: 100%; /* Make sure each div takes the full width */
        margin: 5px 0; /* Reduce margin for smaller screens */
    }

    label {
        width: 100%; /* Make labels take full width */
        padding: 5px; /* Adjust padding for smaller screens */
    }

    input {
        width: 100%; /* Make inputs and buttons take full width */
        padding: 10px; /* Adjust padding for smaller screens */
        border: solid 2px orange;
        border-radius: 8px;
    }
    input .hey {
        width: 100%; /* Make inputs and buttons take full width */
        padding: 10px; /* Adjust padding for smaller screens */
        border: solid 2px orange;
        border-radius: 8px;
    }

    .hey{
        display: flex;
        justify-content: center;
        align-items: center;
        color: orange; ;
    
    }
    .explore{
        background-color:  orange; ;
        border-radius: 5px;
        border: none;
    }
}
.sub{
    margin-top: 20px;
}

#thankYouMessage {
    position: fixed;
    top: 20px;
    right: 0; /* Align to the right edge of the screen */
    background-color: white;
    padding: 20px;
    border: 5px solid orangered;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 80%; /* Adjust the width as needed */
    max-width: 400px; /* Set a maximum width for larger screens */
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
    #thankYouMessage {
        width: 50%; /* Adjust the width for larger screens */
        max-width: 600px; /* Set a larger maximum width */
    }
}


@keyframes moveLeftRight {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-30px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(0);
    }
}

#movingImage {
    animation: moveLeftRight 3s ease-in-out infinite;
    
}
